outputs/**
src/data/**
other/batch_scripts/**
plots/**
other/batch_scripts/**.sh
src/ndlm/__pycache__/configs.cpython-310.pyc
src/ndlm/__pycache__/configs.cpython-310.pyc
src/ndlm/__pycache__/configs.cpython-312.pyc
src/ndlm/__pycache__/configs.cpython-310.pyc
src/ndlm/__pycache__/main.cpython-312.pyc
**.pyc
**/**.pyc
**.pt
**.xml
checkpoints/**
texput.log
NCES-*/**
temp_embeddings/**
temp_triples/**
ROCES-Experiment-*/**
NCES2-Experiment-*/**
src/ndlm/__pycache__/**

other/reports/**
src/ndlm/__pycache__/configs.cpython-310.pyc
reports/**
other/reportsbenchmarks_best.txt
other/eval_results_success_summary_NLDM.log
other/concept_learning_results.txt
src/tasks/celoe_test.py
benchmark_approach_vs_domain.aux
benchmark_approach_vs_domain.log
benchmark_approach_vs_domain.pdf
